body {
    background-color: rgb(230,230,230);
}

p {
    color: rgb(117,117,117);
	font-family: "sans-serif", Verdana;
}

h1 { 
	color: rgb(117,117,117);
	font-family: "sans-serif", Verdana;
	text-align: center;
	line-height: 50%;
}

h2 {
	color: rgb(117,117,117);
	font-family: "sans-serif", Verdana;
	text-align: center;
}

a:link {
			font-family: "sans-serif", Verdana;
			color: rgb(117,117,117);
			text-decoration: none;
}
a:active {
			font-family: "sans-serif", Verdana;
			color: rgb(117,117,117);
			text-decoration: none;
}
a:visited {
			font-family: "sans-serif", Verdana;
			color: rgb(117,117,117);
			text-decoration: none;
}
a:hover {
			font-family: "sans-serif", Verdana;
			color: rgb(145,145,145);
			text-decoration: none;
}